<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="manifest" href="/manifest.json">


	<!-- Meta -->
	<meta name="description" content="A browser client can view WynnCraft stats.">
	<meta property="og:title" content="WynnStats">
	<meta property="og:description" content="A browser client can view WynnCraft stats.">
	<meta property="og:image" content="https://cdn.wynncraft.com/img/ico/android-icon-192x192.png" />

	<% for(var css of htmlWebpackPlugin.files.css ){ %>
		<link rel="stylesheet" href="/<%= css %>">
	<% } %>

	
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div id="app"></div>
	<% for(var js of htmlWebpackPlugin.files.js ){ %>
		<script async src="/<%= js %>"></script>
	<% } %>
</body>
</html>