<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<% for(var css of htmlWebpackPlugin.files.css) { %>
		<link rel="stylesheet" href="<%= css %>">
	<% } %>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div id="app">
		<app/>
	</div>
	<% for(var js of htmlWebpackPlugin.files.js) { %>
		<script async src="<%= js %>"></script>
	<% } %>
</body>
</html>